@font-face {
    font-family: neu;
    src: url(./neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 10;
    src: url(/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayThin.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1090;
}

#nav_part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav_part2 h4 {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.149);
    border-radius: 50px;
    font-weight: 10;
    color: black;
    transition: all ease 0.4s;
    font-size: 18px;
    position: relative;
    overflow: hidden;

}

#nav_part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;

}

#nav_part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav_part2 h4 a {
    color: black;
    text-decoration: none;
    z-index: 9;
    position: relative;
}

#nav_part2 h4:hover a {
    color: white;
}

nav h3{
    display: none;
}

#center {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: black;
    border-bottom: 1px solid #D8D3CD;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 1.6vw;
    line-height: 2vw;
}

#right h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;

}

#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;

}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    background-color: #FE330A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 0;
    top: 85vh;
    filter: blur(20px);

}

#hero1 {
    background-color: FE330A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#hero2 {
    background: linear-gradient(#FE330A, #f46105f0);
    position: absolute;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(20px);
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

#hero3 {
    background: linear-gradient(#FE330A, #f46105f0);
    position: absolute;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(20px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from {
        transform: translate(-30%, 10%);
    }

    to {
        transform: translate(-20%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(-10%, 10%);
    }

    to {
        transform: translate(30%, -10%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    font-family: neu;
    background-color: #EFEAE3;
    position: relative;
    padding: 8vw 0;

}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
    visibility: hidden;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#moving-text h1 {
    font-size: 9vw;
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE330A;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;

}

#o {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: #FE330A;
    bottom: 0;
    left: 2vw;
}

#page2 h5 {
    height: 1vw;
    width: 50vw;
    position: absolute;
    font-weight: 200;
    bottom: 1px;
    padding: 4px 50px;
}

#bottom-part2 {
    width: 20%;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}

#page2 #gooey {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #FE330A, #fe6c0a);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%)skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-3%, 3%)skew(-10deg);
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    font-family: neu;
    background-color: #EFEAE3;
    padding: 4vw 0;

}

.elem {
    height: 150px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #00000030;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
    justify-content: space-between;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem h5 {
    position: relative;
    font-weight: 200;
    font-size: 1vw;
    z-index: 9;
}

#side {
    text-align: right;
}

.elem h4 {
    position: relative;
    font-weight: 100;
    font-size: 1vw;
    z-index: 9;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FF9831;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay {
    top: 0;
}

#fix-image {
    height: 29vw;
    width: 25vw;
    left: 50%;
    top: 18%;
    border-radius: 5%;
    position: fixed;
    z-index: 11;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4 {
    height: 70vw;
    width: 100%;
    font-family: neu;
    background-color: #EFEAE3;
    padding: 4vw 2vw;

}

#page4 #page4-item {
    height: 60vw;
    width: 96vw;
    border-radius: 3%;
    background-color: #0B0500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page4-item #item-left {
    height: 100%;
    width: 200vw;
}

#page4-item #item-left img {
    height: 60vw;
    width: 100%;
    object-fit: fill;
    border-radius: 3%;
}

#page4-item #item-right {
    height: 100%;
    width: 200vw;
    display: flex;
    flex-direction: column;
    padding: 18vw 10vw;
}

#page4-item #item-right h1 {
    color: #504A45;
    border-left: 3px solid #504A45;
    font-size: 4vw;
    text-align: left;
    padding: 0vw 1vw;
}

#item-right h4 {
    padding: 50px 0;
    color: white;
    font-weight: 200;
}


#page5 {
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 5vw 0vw;
}

#page5-up {
    height: 3vh;
    width: 100%;
    padding: 0 12vh;
    position: relative;
    align-content: center;
    align-items: center;
    display: flex;
}

#i {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FE330A;
    position: absolute;
}

#page5-up h5 {
    font-weight: 200;
    font-size: 15px;
    padding: 0px 25px;
    position: absolute;

}

.swiper {
    width: 100%;
    height: 100%;
    padding: 50px 100px;
}

.swiper-slide {
    text-align: left;
    font-size: 18px;
    width: 30%;
    border-left: 1px solid #BFBBB6;
    padding: 0 2vw;
}

.swiper-slide p {
    font-weight: 200;

}

.swiper-slide img {
    width: 50%;
    height: 30%;
}

#page6 {
    height: 100vh;
    width: 100%;

}

#footer {
    padding: 1vw 2vw;
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #EFEAE3;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#footer-ani {
    width: 250vh;
    height: 40vh;
    left: 0vh;
    position: absolute;
    background-color: #FE330A;
    filter: blur(30px);
    display: flex;
    z-index: 9;
    top: -10vh;
    justify-content: space-between;
}

#ani-left {
    height: 80vh;
    width: 110vh;
    position: absolute;
    border-radius: 50%;
    background-color: #FE330A;
    top: -20vh;
    left: -50vh;
    animation-name: ani-left;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

#ani-right {
    height: 170vh;
    width: 270vh;
    position: absolute;
    border-radius: 50%;
    background-color: #FE330A;
    right: -80vh;
    top: -100vh;
    animation-name: ani-right;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes ani-left {
    from {
        filter: blur(20px);
        transform: translate(5%, -5%)skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-3%, 3%)skew(-10deg);
    }
}

@keyframes ani-right {
    from {
        filter: blur(20px);
        transform: translate(-10%, 10%)skew(-10);
    }

    to {
        filter: blur(30px);
        transform: translate(1%, -1%)skew(10deg);
    }
}

#footer h1 {
    font-size: 22vw;
}

#footer-div {
    height: 20vh;
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: space-between;
}

#footer-div #footer-left {
    padding: 0 10vh;
    font-size: 25px;
}

#footer-div #footer-right {
    height: 100%;
    width: 50vh;
    padding: 0 10vh;
}

#footer-right h3 {
    font-weight: 200;
}

#footer-right .from1 {
    padding: 2vh 0;
    background-color: #000;
    width: 100%;
}

#footer-bottom {
    height: 10vh;
    width: 100%;
    border-top: 1px solid #504A45;
    color: #D8D3CD;
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 2vh;
}

#footer-bottom h4 {
    color: #D8D3CD;
    display: flex;
    font-weight: 200;
}

#footer-bottom h4 {
    color: #D8D3CD;
}

#full-scr{
    height: 100vh;
    width: 100%;
    background-color: #00000067;
    position: fixed;
    z-index: 50;
    top: -100%;
    transition: all ease 0.8s;
}
/* @media (max-width: 600px) {

    #page1 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        position: relative;
        padding: 0 2vw;
    }

    nav {
        padding: 2vw 0vw;
        width: 100%;
        display: flex;
        align-items: center;
        /* font-family: face; 
        justify-content: space-between;
    }

    #nav_part2 {
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    #nav_part2 h4 {
        padding: 10px 20px;
        border: 1px solid rgba(0, 0, 0, 0.149);
        border-radius: 50px;
        font-weight: 10;
        color: black;
        transition: all ease 0.4s;
        font-size: 18px;
        position: relative;
        overflow: hidden;

    }

    #nav_part2 h4::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        left: 0;
        bottom: -100%;
        border-radius: 50%;
        transition: all ease 0.4s;

    }

    #nav_part2 h4:hover::after {
        bottom: 0;
        border-radius: 0;
    }

    #nav_part2 h4 a {
        color: black;
        text-decoration: none;
        z-index: 9;
        position: relative;
    }

    #nav_part2 h4:hover a {
        color: white;
    }

    #page4 {
        height: 70vw;
        width: 100%;
        font-family: neu;
        background-color: #EFEAE3;
        padding: 4vw 2vw;

    }

    #page4 #page4-item {
        height: 60vw;
        width: 96vw;
        border-radius: 3%;
        background-color: #0B0500;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page4-item #item-left {
        height: 100%;
        width: 200vw;
    }

    #page4-item #item-left img {
        height: 60vw;
        width: 100%;
        object-fit: fill;
        border-radius: 3%;
    }

    #page4-item #item-right {
        height: 10hv;
        width: 200vw;
        display: flex;
        flex-direction: column;
        padding: 10vw 10vw;
    }

    #page4-item #item-right h1 {
        color: #504A45;
        border-left: 3px solid #504A45;
        font-size: 4vw;
        text-align: left;
        padding: 0vw 1vw;
    }

    #item-right h4 {
        padding: 1vh 0;
        color: white;
        font-weight: 200;
        font-size: 1.5vh;
    }


    #page5 {
        height: 80vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 5vw 0vw;
    }

    #page5-up {
        height: 3vh;
        width: 100%;
        padding: 0 12vh;
        position: relative;
        align-content: center;
        align-items: center;
        display: flex;
    }

    #i {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #FE330A;
        position: absolute;
    }

    #page5-up h5 {
        font-weight: 200;
        font-size: 15px;
        padding: 0px 25px;
        position: absolute;

    }

    .swiper {
        width: 150vh;
        height: 50vh;
        padding: 10vh 10vh;
    }

    .swiper-slide {
        text-align: left;
        font-size: 18px;
        width: 30%;
        border-left: 1px solid #BFBBB6;
        padding: 0 2vw;
    }

    .swiper-slide p {
        font-weight: 200;
        font-size: 10px;

    }

    .swiper-slide img {
        width: 50%;
        height: 30%;
    }

    #footer-div {
        height: 50vh;
        width: 100%;
        display: flex;
        z-index: 10;
        justify-content: space-between;
    }
    
    #footer-div #footer-left {
        padding: 0 10vh;
        font-size: 25px;
    }
    
    #footer-div #footer-right {
        height: 100%;
        width: 50vh;
        padding: 0 10vh;
    }
    
    #footer-right h3 {
        font-weight: 200;
    }
    
    #footer-right .from1 {
        padding: 2vh 0;
        background-color: #000;
        width: 100%;
    }


} */

/* @media (max-width: 400px) {

    #main{
        height: 100%;
        width: 200vh;
        padding: 0vw 10vw;
    }

    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0vw 10vw;
    }

    nav {
       
        padding: 2vw 0vw;
    }
    nav img{
        height: 5vh;
    }

    #nav_part2 {
        display: none;
    }

    nav h3{
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    #page4 {
        height: 70vw;
        width: 100%;
        font-family: neu;
        background-color: #EFEAE3;
        padding: 4vw 2vw;

    }

    #page4 #page4-item {
        height: 60vw;
        width: 96vw;
        border-radius: 3%;
        background-color: #0B0500;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page4-item #item-left {
        height: 100%;
        width: 200vw;
    }

    #page4-item #item-left img {
        height: 60vw;
        width: 100%;
        object-fit: fill;
        border-radius: 3%;
    }

    #page4-item #item-right {
        height: 10hv;
        width: 200vw;
        display: flex;
        flex-direction: column;
        padding: 10vw 10vw;
    }

    #page4-item #item-right h1 {
        color: #504A45;
        border-left: 3px solid #504A45;
        font-size: 4vw;
        text-align: left;
        padding: 0vw 1vw;
    }

    #item-right h4 {
        padding: 1vh 0;
        color: white;
        font-weight: 200;
        font-size: 1.5vh;
    }


    #page5 {
        height: 80vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 5vw 0vw;
    }

    #page5-up {
        height: 3vh;
        width: 100%;
        padding: 0 12vh;
        position: relative;
        align-content: center;
        align-items: center;
        display: flex;
    }

    #i {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #FE330A;
        position: absolute;
    }

    #page5-up h5 {
        font-weight: 200;
        font-size: 15px;
        padding: 0px 25px;
        position: absolute;

    }

    .swiper {
        width: 150vh;
        height: 50vh;
        padding: 10vh 10vh;
    }

    .swiper-slide {
        text-align: left;
        font-size: 18px;
        width: 30%;
        border-left: 1px solid #BFBBB6;
        padding: 0 2vw;
    }

    .swiper-slide p {
        font-weight: 200;
        font-size: 10px;

    }

    .swiper-slide img {
        width: 50%;
        height: 30%;
    }

    #footer-div {
        height: 50vh;
        width: 100%;
        display: flex;
        z-index: 10;
        justify-content: space-between;
    }
    
    #footer-div #footer-left {
        padding: 0 10vh;
        font-size: 25px;
    }
    
    #footer-div #footer-right {
        height: 100%;
        width: 50vh;
        padding: 0 10vh;
    }
    
    #footer-right h3 {
        font-weight: 200;
    }
    
    #footer-right .from1 {
        padding: 2vh 0;
        background-color: #000;
        width: 100%;
    }


} */

#loader{
     height: 100%;
     width: 100%;
     background-color: #000;
     z-index: 999;
     position: fixed;
     top: 0;
     transition: all ease 0.5s;
     display: flex;
     align-items: center;
     justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to left,#FE330A, rgb(255, 115, 0));
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(2){
    animation-delay: 2s;
}

#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

